:root {
  --tile-1: #f3cf30;
  --tile-2: #f58c31;
  --tile-3: #ec452b;
  --tile-4: #e62851;
  --tile-5: #eb1fc9;
  --tile-6: #e515f8;
  --tile-7: #9d0aff;
  --tile-8: #3b19ff;
  --tile-9: #142bff;
  --tile-10: #1178ff;
  --tile-11: #07d3e1;
  --tile-12: #11f054;
  --tile-13: #08f114;
  --tile-14: #0afc16;
}

body {
  min-width: 320px;
  height: 100dvh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(to bottom right, #1a1a1a, #000);
  font-family: "Jersey 20", serif;
  font-weight: 400;
  font-style: normal;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
}


.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-label {
  font-weight: bold;
  color: rgba(255, 165, 0, 0.8);
  font-size: 1rem;
}

#score,
#turn {
  font-weight: bold;
  color: rgba(255, 105, 180, 0.8);
  font-size: 1.5rem;
}

h1 {
  background: linear-gradient(to right, #9b59b6, #ff6f61);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 3rem;
  margin: 0 0 1rem;
}

#board {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(255, 0, 255, 0.5), 0 0 20px rgba(255, 0, 255, 0.5);
  position: relative;
  width: 400px;
  height: 400px;
  display: block !important;
}

#board::after {
  display: none;
}

#board.hidden::after {
  border-radius: 1rem;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(168, 168, 168, 0.712);
}

#menu-wrapper {
  border-radius: 1rem;
  position: absolute;
  width: 300px;
  height: 300px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
}

#main-menu,
#pause-menu,
#game-over-menu {
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.hidden {
  display: none !important;
}


.tile {
  position: absolute;
  border-radius: 0.75rem;
  backdrop-filter: blur(10px);
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: red;
}


.tile-shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  border-radius: 0.75rem;
  box-shadow: 0 0 20px rgba(255, 0, 255, 0.5), 0 0 40px rgba(255, 0, 255, 0.5);
  animation: epic-shadow 1s infinite;
}


.tile-value {
  background: linear-gradient(to bottom right, #ffffff, #cccccc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}


@keyframes epic-shadow {
  0% {
    box-shadow: 0 0 20px rgba(255, 0, 255, 0.5), 0 0 40px rgba(255, 0, 255, 0.5);
  }

  50% {
    box-shadow: 0 0 30px rgba(255, 0, 255, 0.7), 0 0 60px rgba(255, 0, 255, 0.7);
  }

  100% {
    box-shadow: 0 0 20px rgba(255, 0, 255, 0.5), 0 0 40px rgba(255, 0, 255, 0.5);
  }
}
